body {
	display: flex;
	flex-direction: column;
}

#control-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#panels {
	display: flex;

}

#charts {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#map {
	background-color: blue;
	flex-grow: 2;
}

.country {
	stroke: white;
	stroke-width: .4px;
}

#pie {
	background-color: green;
}

#bar {
	background-color: red;
}