body {
	display: flex;
	flex-direction: column;
}

#control-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#panels {
	display: flex;

}

#charts {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#map {
	/*background-color: blue;*/
	flex-grow: 2;
	height: 600px;
}

.country {
	stroke: black;
	stroke-width: .4px;
}

#pie, #bar {
	height: 300px;
	flex-basis: 300px;
}

#pie {
	/*background-color: green;*/
}

#bar {
	background-color: red;
}

