body {
  background-color: #e4e4e4;
}

h1 {
  text-align: center;
}

#notes {
  margin: 0 auto;
  width: 75%;
}

#form-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

form {
  flex-basis: 60%;
}

.note {
  background-color: #fdffb7;
  border: 8px solid #d4daa7;
  border-radius: 8px;
  padding: 10px;
}

.typing {
  background-color: green;
  border: 8px solid darkgreen;
}

form {
  text-align: center;
}

input {
  width: 70%;
}

input,
button {
  padding: 10px;
  margin-right: 5px;
  
}

button {
  background-color: #ff9494;
  border: none;
  border-radius: 5px;
  height: 40px;
}

button:hover {
  cursor: pointer;
  background-color: #fe2222;
}

button:focus {
  outline: none;
}